
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Changa+One:ital@0;1&display=swap');
/* #0d1d31 light one #0c0d13 dark one */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  z-index: -99;
}
main {
    width: 100%;
    height: 100%;
}
.nameplate {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Changa One', sans-serif;
  
}
.nameplate h1 {
  font-size: 6em;
  text-align: center;
  letter-spacing: 4px;
}
.nameplate p {
  font-size: 1.2em;
  text-align: center;
  margin-top: -30px;
}
