body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  z-index: -99;
}
main {
    width: 100%;
    height: 100%;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -9;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  z-index: -5;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.14em;
  --top-offset: 0.18vh;
  --fall-duration: 9.048s;
  --fall-delay: 4.271s;
}
.star:nth-child(2) {
  --star-tail-length: 6.31em;
  --top-offset: 59.24vh;
  --fall-duration: 7.619s;
  --fall-delay: 3.355s;
}
.star:nth-child(3) {
  --star-tail-length: 7.15em;
  --top-offset: 33.09vh;
  --fall-duration: 10.238s;
  --fall-delay: 2.738s;
}
.star:nth-child(4) {
  --star-tail-length: 6.08em;
  --top-offset: 63.89vh;
  --fall-duration: 11.026s;
  --fall-delay: 4.683s;
}
.star:nth-child(5) {
  --star-tail-length: 5.98em;
  --top-offset: 75.25vh;
  --fall-duration: 11.816s;
  --fall-delay: 7.395s;
}
.star:nth-child(6) {
  --star-tail-length: 5.68em;
  --top-offset: 14.98vh;
  --fall-duration: 6.742s;
  --fall-delay: 9.474s;
}
.star:nth-child(7) {
  --star-tail-length: 5.93em;
  --top-offset: 90.85vh;
  --fall-duration: 11.438s;
  --fall-delay: 8.692s;
}
.star:nth-child(8) {
  --star-tail-length: 5.63em;
  --top-offset: 63.59vh;
  --fall-duration: 10.631s;
  --fall-delay: 2.759s;
}
.star:nth-child(9) {
  --star-tail-length: 5.57em;
  --top-offset: 77.32vh;
  --fall-duration: 8.157s;
  --fall-delay: 3.844s;
}
.star:nth-child(10) {
  --star-tail-length: 5.83em;
  --top-offset: 29.79vh;
  --fall-duration: 8.882s;
  --fall-delay: 1.408s;
}
.star:nth-child(11) {
  --star-tail-length: 6.13em;
  --top-offset: 8.74vh;
  --fall-duration: 6.652s;
  --fall-delay: 7.149s;
}
.star:nth-child(12) {
  --star-tail-length: 7.33em;
  --top-offset: 35.01vh;
  --fall-duration: 8.196s;
  --fall-delay: 2.657s;
}
.star:nth-child(13) {
  --star-tail-length: 5.58em;
  --top-offset: 69.95vh;
  --fall-duration: 6.563s;
  --fall-delay: 3.208s;
}
.star:nth-child(14) {
  --star-tail-length: 7.39em;
  --top-offset: 52.48vh;
  --fall-duration: 8.633s;
  --fall-delay: 1.218s;
}
.star:nth-child(15) {
  --star-tail-length: 5.78em;
  --top-offset: 8.5vh;
  --fall-duration: 7.598s;
  --fall-delay: 7.619s;
}
.star:nth-child(16) {
  --star-tail-length: 7.2em;
  --top-offset: 75.75vh;
  --fall-duration: 10.67s;
  --fall-delay: 9.725s;
}
.star:nth-child(17) {
  --star-tail-length: 7.11em;
  --top-offset: 25.57vh;
  --fall-duration: 6.835s;
  --fall-delay: 9.436s;
}
.star:nth-child(18) {
  --star-tail-length: 6.13em;
  --top-offset: 95.48vh;
  --fall-duration: 8.703s;
  --fall-delay: 1.369s;
}
.star:nth-child(19) {
  --star-tail-length: 6.74em;
  --top-offset: 70.42vh;
  --fall-duration: 6.562s;
  --fall-delay: 5.036s;
}
.star:nth-child(20) {
  --star-tail-length: 7.36em;
  --top-offset: 75.51vh;
  --fall-duration: 8.528s;
  --fall-delay: 4.963s;
}
.star:nth-child(21) {
  --star-tail-length: 5.19em;
  --top-offset: 77.63vh;
  --fall-duration: 6.385s;
  --fall-delay: 5.074s;
}
.star:nth-child(22) {
  --star-tail-length: 6.84em;
  --top-offset: 50.48vh;
  --fall-duration: 6.889s;
  --fall-delay: 8.982s;
}
.star:nth-child(23) {
  --star-tail-length: 6.53em;
  --top-offset: 77.06vh;
  --fall-duration: 9.772s;
  --fall-delay: 1.585s;
}
.star:nth-child(24) {
  --star-tail-length: 5.82em;
  --top-offset: 57.92vh;
  --fall-duration: 7.674s;
  --fall-delay: 0.477s;
}
.star:nth-child(25) {
  --star-tail-length: 6.62em;
  --top-offset: 98.54vh;
  --fall-duration: 10.586s;
  --fall-delay: 6.237s;
}
.star:nth-child(26) {
  --star-tail-length: 5.45em;
  --top-offset: 63.78vh;
  --fall-duration: 10.732s;
  --fall-delay: 1.549s;
}
.star:nth-child(27) {
  --star-tail-length: 7.2em;
  --top-offset: 76.61vh;
  --fall-duration: 6.694s;
  --fall-delay: 6.42s;
}
.star:nth-child(28) {
  --star-tail-length: 5.08em;
  --top-offset: 34.71vh;
  --fall-duration: 6.585s;
  --fall-delay: 7.087s;
}
.star:nth-child(29) {
  --star-tail-length: 6.86em;
  --top-offset: 31.04vh;
  --fall-duration: 11.416s;
  --fall-delay: 4.15s;
}
.star:nth-child(30) {
  --star-tail-length: 7.38em;
  --top-offset: 20.22vh;
  --fall-duration: 10.421s;
  --fall-delay: 5.583s;
}
.star:nth-child(31) {
  --star-tail-length: 5.47em;
  --top-offset: 83.65vh;
  --fall-duration: 8.802s;
  --fall-delay: 7.039s;
}
.star:nth-child(32) {
  --star-tail-length: 6.12em;
  --top-offset: 19.39vh;
  --fall-duration: 7.638s;
  --fall-delay: 6.744s;
}
.star:nth-child(33) {
  --star-tail-length: 6.8em;
  --top-offset: 34.69vh;
  --fall-duration: 11.967s;
  --fall-delay: 6.274s;
}
.star:nth-child(34) {
  --star-tail-length: 5.96em;
  --top-offset: 11.58vh;
  --fall-duration: 6.884s;
  --fall-delay: 8.595s;
}
.star:nth-child(35) {
  --star-tail-length: 6.52em;
  --top-offset: 91.29vh;
  --fall-duration: 9.594s;
  --fall-delay: 6.875s;
}
.star:nth-child(36) {
  --star-tail-length: 5.52em;
  --top-offset: 75.67vh;
  --fall-duration: 7.524s;
  --fall-delay: 3.998s;
}
.star:nth-child(37) {
  --star-tail-length: 5.16em;
  --top-offset: 3.51vh;
  --fall-duration: 11.161s;
  --fall-delay: 2.875s;
}
.star:nth-child(38) {
  --star-tail-length: 6.91em;
  --top-offset: 56.04vh;
  --fall-duration: 10.127s;
  --fall-delay: 9.964s;
}
.star:nth-child(39) {
  --star-tail-length: 6.13em;
  --top-offset: 35.56vh;
  --fall-duration: 10.917s;
  --fall-delay: 8.758s;
}
.star:nth-child(40) {
  --star-tail-length: 5.73em;
  --top-offset: 89.91vh;
  --fall-duration: 9.885s;
  --fall-delay: 4.686s;
}
.star:nth-child(41) {
  --star-tail-length: 6.84em;
  --top-offset: 18.26vh;
  --fall-duration: 7.256s;
  --fall-delay: 0.127s;
}
.star:nth-child(42) {
  --star-tail-length: 6.83em;
  --top-offset: 3.56vh;
  --fall-duration: 10.181s;
  --fall-delay: 0.272s;
}
.star:nth-child(43) {
  --star-tail-length: 7.45em;
  --top-offset: 28.76vh;
  --fall-duration: 9.746s;
  --fall-delay: 3.564s;
}
.star:nth-child(44) {
  --star-tail-length: 6.04em;
  --top-offset: 1.26vh;
  --fall-duration: 8.708s;
  --fall-delay: 7.403s;
}
.star:nth-child(45) {
  --star-tail-length: 7.22em;
  --top-offset: 68.59vh;
  --fall-duration: 10.704s;
  --fall-delay: 8.405s;
}
.star:nth-child(46) {
  --star-tail-length: 5.87em;
  --top-offset: 54.2vh;
  --fall-duration: 8.079s;
  --fall-delay: 4.682s;
}
.star:nth-child(47) {
  --star-tail-length: 6.65em;
  --top-offset: 77.87vh;
  --fall-duration: 8.131s;
  --fall-delay: 7.967s;
}
.star:nth-child(48) {
  --star-tail-length: 5.34em;
  --top-offset: 99.37vh;
  --fall-duration: 6.821s;
  --fall-delay: 5.615s;
}
.star:nth-child(49) {
  --star-tail-length: 5.73em;
  --top-offset: 84.14vh;
  --fall-duration: 10.51s;
  --fall-delay: 9.026s;
}
.star:nth-child(50) {
  --star-tail-length: 6.53em;
  --top-offset: 90.68vh;
  --fall-duration: 10.204s;
  --fall-delay: 0.348s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
  z-index: -5;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
#home h1 {
  font-size: 6em;
  color: white;
  text-align: center;
  margin-top: 20px;
}